.pickAvatar {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    img {
        max-width: 10%;
        aspect-ratio: 1/1;
        object-fit: cover;

        &:focus {
            border: 10px solid hotpink;  
        }
        
        // &:hover {
        //    do something       
        // }
    }
    .chosen {
        border: 10px solid hotpink;
    }
}