.pickAvatar {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    img {
        max-width: 10%;
        aspect-ratio: 1/1;
        object-fit: cover;      
        
        &:hover {
           border: 10px solid transparent;      
        }
    }
        .chosen  {
        border: 10px solid hotpink !important;
    }
}